<%# Listing 11.23 %>
<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %> <%# defers real work to other partials %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
