<%# Listing 7.10: title and h1 %>
<% provide(:title, @user.name) %>

<%# Listing 7.14: wrapped in row.span4 section%>
<div class="row">
  <aside class="span4">
  	<section>
      <h1>
      	<%= gravatar_for @user %> <%# Listing 7.12 %>
      	<%= @user.name %>
      </h1>
    </section>
  </aside>
</div>


