<%# Listing 7.23 %>
<% if @user.errors.any? %> <%# any?() ==  !empty?() %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>. <%# Rails' ActionView::Helpers::TextHelpers %>
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
